* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: fantasy;
}

body {
    min-height: 500vh;
    scroll-behavior: smooth;
}

.parallax {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.satu {
    background-image: url('img/1.png');
}

.dua {
    background-image: url('img/2.png');
}

.tiga {
    background-image: url('img/3.png');
}

.empat {
    background-image: url('img/4.png');
}

.lima {
    background-image: url('img/5.png');
}

h1 {
    color: white;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px rgb(49, 49, 49);
    font-size: 3em;
    text-align: center;
}